<div class="h-full relative w-full">
    <div class="flex flex-col">
        <div class="w-full flex justify-between">
            <div class="flex justify-start items-center text-lg font-bold pl-2">
                <span> Total Tasks | {{taskList.length}}</span>
            </div>
            <div class="flex justify-between py-2 px-2">
                <a href="javascript:void(0)" class="py-2 px-4 bg-green-700 text-white mr-2 rounded-md" (click)="toggleTaskCreationPopup()">Create Task</a>
                <a href="javascript:void(0)" class="py-2 px-4 bg-gray-700 text-white rounded-md" (click)="refreshTask()">Refresh</a>
            </div>
        </div>
        <div class="w-screen flex flex-row flex-wrap relative">
            <div class="w-[25%] p-2" *ngFor="let task of taskList">
                <app-task  [taskData]="task" (dblclick)="initiateTaskUpdation(task)"></app-task>
            </div>
        </div>
    </div>
    <div class="absolute h-screen w-full bg-gray-300 flex justify-center align-center top-0 left-0" [ngClass]="showTaskCreationPopup ? 'block' : 'hidden'">
        <div class="p-4 w-[40%] md:h-auto">
            <div class=" p-4 bg-white rounded-lg shadow dark:bg-gray-800 md:p-8">
                <div class="mb-4 text-sm font-light text-gray-500 dark:text-gray-400">
                    <h3 class="mb-3 text-2xl font-bold text-gray-900 dark:text-white">{{operationType == 'CREATE' ? 'Create Task' : 'Update Task' }}</h3>

                    <form class="bg-white rounded pt-6 pb-8 mb-4" [formGroup]="taskForm">
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="taskTitle">
                            Task Title
                            </label>
                            <input formControlName="taskTitle" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="taskTitle" type="text" placeholder="Task Title goes here..">
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="taskDescription">
                            Task Description
                            </label>
                            <input formControlName="taskDescription" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="taskDescription" type="textarea" placeholder="Task Description" row="4" column="4">
                        </div>
                        <div class="mb-2">
                            <label class="block tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                              Status
                            </label>
                            <div class="relative">
                              <select formControlName="taskStatus" class="block appearance-none w-full bg-white-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                                <option value="NEW">NEW</option>
                                <option value="ASSIGNED">ASSIGNED</option>
                                <option value="IN_PROGRESS">IN_PROGRESS</option>
                                <option value="RESOLVED">RESOLVED</option>
                                <option value="IN_QA">IN_QA</option>
                                <option value="READY_TO_RELEASE">READY_TO_RELEASE</option>
                                <option value="COMPLETED">COMPLETED</option>
                              </select>
                              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                              </div>
                            </div>
                          </div>
                    </form>
                </div>
                <div class="justify-between items-center pt-0 space-y-4 sm:flex sm:space-y-0">
                    <div class="items-center space-y-4 sm:space-x-4 sm:flex sm:space-y-0">
                        <button id="close-modal" type="button"  class="py-2 px-4 w-full text-sm font-medium text-white bg-red-700 rounded-md border border-gray-200 sm:w-auto hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-primary-300 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600" (click)="toggleTaskCreationPopup();clearTaskForm()">Cancle</button>
                        <button *ngIf="operationType == 'CREATE';else updateButtonTemplate" id="confirm-button" type="button" class="py-2 px-4 w-full text-sm font-medium text-center text-white rounded-md bg-blue-700 sm:w-auto hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" [disabled]="!taskForm.valid" (click)="createTask()">Create</button>
                        <ng-template #updateButtonTemplate>
                            <button id="confirm-button" type="button" class="py-2 px-4 w-full text-sm font-medium text-center text-white rounded-md bg-blue-700 sm:w-auto hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" [disabled]="!taskForm.valid" (click)="updateTask()">Update</button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-http-loader></ng-http-loader>
